.first{
    width: 47%;
    border-radius: 40px;
    border: 5px solid #FFF7DD;
    height: 99vh;
    background-image: url('../otts/first.png');
    /* background: #524185; */
    background-size: cover;
    background-position: center center;
}
.page{
    display: flex;
    flex-direction: row;
    background-color: #FFF7DD;
}
.title{
    font-size: 45px;
    margin: 29% 0px 6% 3%;
    font-family: 'Darker Grotesque';
    font-weight: 400;
    color: #312651;
}
.second{
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.but{
    width: 47%;
    margin-left: 3%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .fi{
    width: 45%;
    margin-bottom: 2%;
  }
.name{
    font-size: 20px;
    margin: 0px 0px 2% 0px;
    font-family: 'Darker Grotesque';
}
.inp1
{
    width: 100%;
    text-indent: 10px;
    border-radius: 15px;
    font-size: 15px;
    font-family: 'Darker Grotesque';
    margin-bottom: 3%;
    height: 30%;
    border-radius: 3.823px;
    border: 0.478px solid #b6b0c7;
    background: #FFF7DD;
}
.bu2{ 
  width: 48%;
  height: 6.5vh;
  background-color: #312651;
  color: #FFF7DD;
  font-family: "Darker Grotesque";
  font-size: 1.2em;
  font-weight: 400;
  border-radius: 15px;
  border: 1px solid #FFF7DD;
}
.bu2:hover{ 
    width: 48%;
    height: 6.5vh;
    background-color: #FFF7DD;
    color: #312651;
    font-family: "Darker Grotesque";
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 15px;
    border: 1px solid #312651;
  }
.lo2{
    width: 48%;
  height: 6.5vh;
  background-color: #FFF7DD;
  color: #312651;
  font-family: "Darker Grotesque";
  font-size: 1.2em;
  font-weight: 400;
  border-radius: 15px;
  border: 1px solid #312651;
}
.lo2:hover{ 
    width: 48%;
    height: 6.5vh;
    background-color: #312651;
    color: #FFF7DD;
    font-family: "Darker Grotesque";
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 15px;
    border: 1px solid #FFF7DD;
  }

  @media (max-width: 600px) {
    .title{
        font-size: 25px;
    }
    .name{
        font-size: 15px;
    }
    .bu2{
        font-size: 15px;
    }
    .bu2:hover{
        font-size: 15px;
    }.lo2{
        font-size: 15px;
    }.lo2:hover{
        font-size: 15px;
    }
}