.he {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Darker Grotesque";
  align-items: center;
  margin: 0px 50px;
}
.main{
  width: 100%;
  height: 100vh;
  background-color: #FFF7DD;
}
.ti{
  color: #312651;
  font-family: "Darker Grotesque";
  font-size: 3em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.bu{
  width: 25%;
  height: 7vh;
  background-color: #312651;
  color: #FFF7DD;
  font-family: "Darker Grotesque";
  font-size: 1.2em;
  font-weight: 400;
  border-radius: 15px;
  border: 1px solid #FFF7DD;
}
.butt{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.lo{
  width: 25%;
  height: 7vh;
  background-color: #FFF7DD;
  color: #312651;
  font-family: "Darker Grotesque";
  font-size: 1.2em;
  margin-left: 5%;
  font-weight: 400;
  border-radius: 15px;
  border: 1px solid #312651;
}
.lo:hover{
  width: 25%;
  height: 7vh;
  background-color: #312651;
  color: #FFF7DD;
  font-family: "Darker Grotesque";
  font-size: 1.2em;
  margin-left: 5%;
  font-weight: 400;
  border-radius: 15px;
  border: 1px solid #FFF7DD;
}
.arr{
  display: flex;
  overflow-y: auto;
  height: 80vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
}
@media (max-width: 600px) {
  .he{
    padding-top: 20px;
  }
  .ti{
    font-size: 1em;
  }
  .lo{
    width: 80px;
    font-size: 1em;
    height: 40px;
  }
  .lo:hover{
    font-size: 1em;
    width: 80px;
    height: 40px;
  }
  .bu{
    font-size: 1em;
    width: 80px;
    height: 40px;
  }
  .bu:hover{
    font-size: 1em;
    width: 80px;
    height: 40px;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  
  .ti {
      font-size: 2em;
  }
  .lo{
    width: 100px;
    font-size: 1em;
    height: 45px;

  }
  .lo:hover{
    font-size: 1em;
    width: 100px;
    height: 45px;
  }
  .bu{
    font-size: 1em;
    width: 100px;
    height: 45px;
  }
  .bu:hover{
    font-size: 1em;
    width: 100px;
    height: 45px;
  }
}
@media (max-width: 800px) {
  .arr {
      width: 100%;
      flex-wrap:wrap;
      overflow: scroll;
      flex-direction: row;
      /* Stretch items to full width in column layout */
  }
}
.emp{
  font-family: 'Darker Grotesque';
  font-size: 15px;
  margin: 0px;
  color: rgb(164, 164, 164);
}
.bu:hover{
  width: 25%;
  height: 7vh;
  background-color: #FFF7DD;
  color: #312651;
  font-family: "Darker Grotesque";
  font-size: 1.2em;
  font-weight: 400;
  border-radius: 15px;
  border: 1px solid #312651;
}

.modal {
  display: flex;
  color: #312651;
  font-family: "Darker Grotesque";
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #58516d;
  position: relative;
  width: 50%;
  height: 60%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 22px;
}

input {
  margin-bottom: 5px;
  padding: 8px;
  border: 1px solid #312651;
  border-radius: 4px;
}
.sele{
  margin-bottom: 5px;
  padding: 8px;
  height: 32px;
  border: 1px solid #312651;
  border-radius: 4px;
  background-color: #fff;
}

.sub {
  margin-top: 5%;
  padding: 10px;
  background-color: #312651;
  color: #fff;
  border: 0.5px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}
.sub:hover {
  margin-top: 5%;
  padding: 10px;
  background-color: #ffffff;
  color: #312651;
  border: 0.5px solid #312651;
  border-radius: 4px;
  cursor: pointer;
}
.close{
  margin-top: 2%;
  padding: 10px;
  background-color: #ffffff;
  color: #312651;
  border: 0.5px solid #312651;
  border-radius: 4px;
  cursor: pointer;
}
.close:hover{
  margin-top: 2%;
  padding: 10px;
  background-color: #312651;
  color: #fff;
  border: 0.5px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
